{% extends 'index.html' %}

{% block content %}

<div>
    {% for post in posts %}

        <details>
            <summary>
                <div>
                    <div class="item_title"  style="font-weight: 600;">{{post.title}}</div>
                    <div class="item_author" style="font-weight: 300;">{{post.author}}</div>
                </div>
                <p>{{ post.length }}</p>
                <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more"/>
                </svg>
                <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"/>
                </svg>
            </summary>
            <p>{{post.url}}</p>
        </details>

    {% endfor %}
</div>
{% endblock %}